{% extends "base.html" %}
{% block content %}


<div>
  <form id="form_search" name="from_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid" align="center">
        <span class="col-md-12" align="left">
         <span class="col-md-3">
           <select name='order'>
             <option value="ctime_desc" selected>등록역순</option>
             <option value="ctime_asc">등록순</option>
             <option value="mtime_desc">갱신역순</option>
             <option value="mtime_asc">갱신순</option>
           </select>
	 </span>
         <span class="col-md-7">
	  <input id="search_word" name="search_word" class="form-control form-control-sm w-75" type="text" placeholder="경로/폴더ID" aria-label="Search">
	 </span>
         <span class="col-md-2">
          {{ macros.m_button_group([['search', '검색'], ['reset_btn', '리셋']]) }}
         </span>
        </span>
       </div>
    </div>
  </form>
 <hr>
</div>
  <div id='page1'></div>
<div>
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(2,  macros.m_strong('ID/등록/갱신시각')) }}
  {{ macros.m_col(7,  macros.m_strong('경로/상세정보')) }}
  {{ macros.m_col(1,  macros.m_strong('상태')) }}
  {{ macros.m_col(2,  macros.m_strong('기능')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="list_div"></div>
  <div id='page2'></div>
</div>
<form name="browserform">
  <input type="hidden" id="remote_name" name="remote_name">
  <input type="hidden" id="remote_path" name="remote_path">
  <input type="hidden" id="folder_id" name="folder_id">
</form>

<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
var current_data = null;
var current_page = 1;
var current_rule = null;
var formData = null;
var country = 'all';
var use_plex_scan = "{{arg['use_plex_scan']}}"

$(document).ready(function(){
  request_search('1', true);
});

$("body").on('click', '#page', function(e){
  e.preventDefault();
  var page = $(this).data('page')
  request_search(page, true);
});

$("#search").click(function(e) {
  e.preventDefault();
  request_search('1', true);
});

$("#reset_btn").click(function(e) {
  e.preventDefault();
  document.getElementById("search_word").value = '';
  request_search(current_page, true);
});

function request_search(page, scroll) {
  formData = get_formdata('#form_search');
  current_page = page;
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/scan_list',
    type: "POST", 
    cache: false,
    data: formData,
    dataType: "json",
    success: function (data) {
      if (scroll == true) {
        window.scrollTo(0,0);
      }
      make_list(data.list)
      make_page_html(data.paging)
    }
  });
}

function make_list(data) {
  var gdurl="https://drive.google.com/drive/u/0/folders/";
  var str = "";
  current_data = data;
  for (i in data) {
    str += m_row_start();
    tmp = data[i].id + '<br>';
    tmp += data[i].created_time + '<br>';
    if (data[i].updated_time) {
      tmp += data[i].updated_time;
    } else {
      tmp += '-'
    }
    str += m_col(2, tmp)

    //tmp = '<strong>경로: <a href="' + gdurl + data[i].folder_id + '" target="_blank">'+data[i].remote_name+':'+data[i].remote_path+'</a></strong><br>';
    tmp = '<strong>경로: <a href="javascript:void(0);" onclick="browse(this);" data-idx="'+i+'">'+data[i].remote_name+':'+data[i].remote_path+'</a></strong><br>';
    tmp += 'Plex경로: ' +data[i].plex_path;
    str += m_col(7, tmp);

    var str_status = '-';
    if (data[i].status == 'created') {
      str_status = '생성'
    } else if (data[i].status == 'scan_sent') {
      str_status = '스캔요청'
    } else if (data[i].status == 'completed') {
      str_status = '스캔완료'
    }
    str += m_col(1, str_status);
    btn_str = '';
    if (use_plex_scan == 'True') {
      btn_str =  m_button2('rescan_btn', '재스캔', [{'key':'idx', 'value':i }], 'info');
    }
    btn_str +=  m_button2('delete_btn', '삭제', [{'key':'id', 'value':data[i].id }], 'danger');
    tmp = m_button_group(btn_str)
    str += m_col(2, tmp);
    str += m_row_end();
    if (i != data.length -1) {str += m_hr();}
  }
  document.getElementById("list_div").innerHTML = str;
}

function browse(obj) {
  var idx = $(obj).data('idx');
  console.log(idx);
  var data = current_data[idx];
  console.log(data)
  var form = document.browserform;
  var url = '/' +package_name+ '/base/browser';
  form.action = url;
  form.method = "post";
  form.target = "_self";
  $('#remote_name').val(data.remote_name);
  if (data.folder_id == data.parent_id) {
    var tmp = data.remote_path.split('/');
    tmp.pop();
    remote_path = tmp.join('/');
    $('#remote_path').val(remote_path);
  } else {
    $('#remote_path').val(data.remote_path);
  }
  $('#folder_id').val(data.folder_id);
  form.submit();
}

$("body").on('click', '#delete_btn', function(e){
  e.preventDefault();
  db_id = $(this).data('id');
  var msg = '해당항목을 삭제 합니다.<br>';
  document.getElementById("confirm_title").innerHTML = "삭제확인";
  document.getElementById("confirm_body").innerHTML = '<strong>'+msg+'</strong>이 작업은 되돌릴 수 없습니다.<br>삭제하시겠습니까?';
  $('#confirm_button').attr('onclick', "delete_scan(db_id);");
  $("#confirm_modal").modal();
  return;
});

$("body").on('click', '#rescan_btn', function(e){
  e.preventDefault();
  idx = $(this).data('idx');
  data = current_data[idx];
  remote_path = data.remote_name + ':' + data.remote_path;
  folder_id = data.folder_id;
  db_id = data.id;
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/send_scan',
    type: "POST",
    cache: false,
    data: {db_id:db_id, remote_path: remote_path, folder_id:folder_id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      request_search(current_page, false);
    }
  });
});

function delete_scan(db_id) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/delete_scan',
    type: "POST",
    cache: false,
    data: {db_id: db_id},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
      request_search(current_page, false);
    }
  });
}

</script>    
{% endblock %}
