{% extends "base.html" %}
{% block content %}
 
<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('gds', 'GDS', true) }}
      {{ macros.m_tab_head2('except', '제외경로', false) }}
      {{ macros.m_tab_head2('etc', '기타', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    {{ macros.m_tab_content_start('gds', true) }}
      {{ macros.setting_global_scheduler_sub_button(arg['scheduler'], arg['is_running']) }}
      {{ macros.setting_input_text('base_interval', '변경감시 스케쥴 정보', value=arg['base_interval'], col='3', desc=['감시대상폴더의 변경사항 조회 스케쥴 주기','Inverval(minute 단위)이나 Cron 설정']) }}
      {{ macros.setting_input_text('fullscan_interval', '전체스캔 스케쥴 정보', value=arg['fullscan_interval'], col='3', desc=['감시대상 폴더의 전체스캔 스케쥴 주기','Inverval(일 단위)이나 Cron 설정, 입력 후 저장해야 반영됨', '"0" 입력시 실행안함']) }}
      {{ macros.setting_checkbox('base_auto_start', '시작시 자동실행', value=arg['base_auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
      {{ macros.setting_input_text('gds_remote_name', '구드공리모트명', value=arg['gds_remote_name'], desc=['구드공 바로보기용 리모트명, SJVA사용자 전용','rclone.conf에 없는 리모트명으로 입력해야함', '구드공 바로보기용 리모트 추가 불필요']) }}
      {{ macros.setting_checkbox('use_sjva_group_account', 'sjva.me 그룹계정 사용', value=arg['use_sjva_group_account'], desc=['On: 구드공 관리에 sjva.me 그룹 계정 사용 Off: sjva.me인증 사용(공용)','sjva.me 그룹사용자의 경우 On권장']) }}
      {{ macros.setting_input_text_and_buttons('sjva_group_remote_name', 'sjva.me 그룹 리모트명', [['apply_remote_btn', '변경적용']], value=arg['sjva_group_remote_name'], desc=['sjva그룹 사용자로 인증한 remote 명 입력, rclone.conf에 remote가 등록되어있어야함', '저장후 번경적용 버튼클릭시 변경된 remote_name 을 감시대상에 적용합니다.']) }}
      {{ macros.setting_input_text('gds_plex_mount_path', '구드공마운트경로', value=arg['gds_plex_mount_path'], desc=['Plex 기준 구드공 마운트 경로', 'GDS: 를 /mnt/gds로 마운트한 경우 /mnt/gds']) }}
      {{ macros.setting_input_text('gds_rc_addr', 'RC 주소', value=arg['gds_rc_addr'], desc=['Plex에 마운트된 리모트 RC주소','127.0.0.1:5572 형태로 ip:port 지정']) }}
      {{ macros.setting_checkbox('gds_use_rc_auth', 'RC 인증 사용', value=arg['gds_use_rc_auth'], desc=['On: rlcone rc 인증 사용']) }}
      <div id="gds_use_rc_auth_div" class="collapse">
      {{ macros.setting_input_text('gds_rc_user', 'RC 사용자', value=arg['gds_rc_user'], desc=['RC User, 인증미사용시 RC인증사용 Off']) }}
      {{ macros.setting_input_text('gds_rc_pass', 'RC 암호', value=arg['gds_rc_pass'], desc=['RC Pass, 인증미사용시 RC인증사용 Off']) }}
      </div>
    {{ macros.m_tab_content_end() }}  
    {{ macros.m_tab_content_start('except', false) }}
      {{ macros.setting_input_textarea('except_paths', '마운트 제외 경로', value=arg['except_paths'], col='12', row='20', desc=['Rclone Mount 시 filter로 제외한 목록, 앞에 "-"없이 제외할 목록만 입력, 구분자는 엔터','예) /VOD/1.방송중/시사/**']) }}
    {{ macros.m_tab_content_end() }}  
    {{ macros.m_tab_content_start('etc', false) }}
      {{ macros.setting_input_int('gds_chunk_size', 'Chunk 크기', value=arg['gds_chunk_size'], desc=['파일요청시 Chunk 크기(1회 요청사이즈), Byte단위']) }}
      {{ macros.setting_input_int('gds_dir_cache_limit', 'DIR캐시크기', value=arg['gds_dir_cache_limit'], desc=['디렉토리 탐색 캐시 크기 제한, 메모리 과사용 방지용, 단위: 개']) }}
      {{ macros.setting_button([['remove_watch', '감시대상일괄삭제'], ['remove_scan','스캔내역일괄삭제']], '데이터 일괄삭제', desc=['감시대상, 스캔내역을 일괄 삭제']) }}
      {{ macros.setting_button([['gds_auth_btn', '인증요청']], '구드공 사용자인증', desc=['SJVA시작시 자동로드함, sjva.me 접속 불가 등으로 인증이 안된경우에만 사용']) }}
      {{ macros.setting_checkbox('use_plex_scan', '스캔명령 전송여부', value=arg['use_plex_scan'], desc=['On: 신규아이템 확인시 Plex로 스캔명령을 전송함, Off: 스캔명령 전송안함(마운트캐시만갱신)']) }}
      {{ macros.setting_checkbox('scan_notify', '스캔완료시 알림전송', value=arg['scan_notify'], desc=['스캔완료시 알림 메시지를 전송합니다.','ID: gdsmanager_scan_completed','설정필요: 시스템-설정-알림-고급']) }}
      {{ macros.setting_input_int('schedule_delta_min', '스케쥴링시간보정', value=arg['schedule_delta_min'], desc=['스케쥴링 조회시 보정할 시간, 분단위, 스케쥴러 작동시간에 따른 누락건 방지용','기본값:5분, 누락건이 생기면 조정, 스케쥴링 주기보다 큰값으로 설정시 스케쥴링 주기로 설정됨']) }}
      {{ macros.setting_input_int('execute_delta_min', '1회실행시간기준', value=arg['execute_delta_min'], desc=['1회실행시 조회할 시간 지정, 분단위', '60으로 지정시 한시간 내에 변경된 내역 처리, 기본값:0 - 이전실행 시각 이후 변경파일 탐색']) }}
      {{ macros.setting_input_int('query_parents_limit', '한번에 조회할 폴더수', value=arg['query_parents_limit'], min='30', max='100', desc=['갱신내역 조회시 한번에 조회할 부모폴더 수, 기본/최소값: 30, 최대값: 100','너무 큰값으로 설정시 쿼리실패/오류 가능성 있음']) }}
    {{ macros.m_tab_content_end() }}  
  </div><!--tab-content-->
  </form>
</div> <!--전체-->
 
<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";
var sub = "{{arg['sub'] }}";
 
$(document).ready(function(){
  use_collapse("gds_use_rc_auth");
});

$('#gds_use_rc_auth').change(function() {
  use_collapse('gds_use_rc_auth');
});

$("body").on('click', '#gds_auth_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/gds_auth',
    type: "POST",
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
    }
  });
});


$("body").on('click', '#remove_watch,#remove_scan', function(e){
  e.preventDefault();
  target = $(this).attr('id').split('_')[1];
  console.log(target);
  if (target == 'watch') {
    var msg ='모든 감시대상 항목이 삭제됩니다.<br>';
  } else {
    var msg ='모든 스캔전송 내역이 삭제됩니다.<br>';
  }
  document.getElementById("confirm_title").innerHTML = "삭제확인";
  document.getElementById("confirm_body").innerHTML = '<strong>'+msg+'</strong>이 작업은 되돌릴 수 없습니다.<br>삭제하시겠습니까?';
  $('#confirm_button').attr('onclick', "execute_reset(target);");
  $("#confirm_modal").modal();
  return;
});

function execute_reset(terget) {
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/execute_reset',
    type: "POST",
    cache: false,
    data: {target: target},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
    }
  });
}

$("body").on('click', '#apply_remote_btn', function(e){
  e.preventDefault();
  $.ajax({
    url: '/' + package_name + '/ajax/'+sub+'/apply_remote',
    type: "POST",
    cache: false,
    data: {},
    dataType: "json",
    success: function (data) {
      if ( data.ret == 'success') {
        $.notify('<strong>성공: '+data.msg+'</strong>', {type: 'success'});
      } else {
        $.notify('<strong>실패: ' +data.msg+ '</strong>', {type: 'warning'});
      }
    }
  });
});



</script>
{% endblock %}
